* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #1d1a05;
}


/*
  ========================================
  Navigation bar
  ========================================
*/

header {
    background: #ca3c25;
    position: relative;
    height: 60px;
}

nav {
    display: inline-block;
    margin-left: 250px;
    margin-top: 20px;
}

nav a {
    color: #eac185;
    margin-right: 10px;
}


/*
  ========================================
  Gallery
  ========================================
*/

#gallery {
    width: 850px;
    padding: 5px 0 20px 0;
    margin: auto;
}

figure {
    position: relative;
    left: 10px;
    margin-left: -15px;
}

.item {
    box-sizing: border-box;
    height: 155px;
    border: 5px solid #595959;
}

.black-white {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.delete {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    color: #FFF;
}


/*
  ========================================
  Display buttons
  ========================================
*/

.buttons {
    margin: auto;
    width: 865px;
}

.display {
    background-color: #ca3c25;
    font-size: 16px;
    color: #FFF;
    width: 285px;
    border: none;
    outline-color: #eac185;
    cursor: pointer;
}


/*
  ========================================
  Text
  ========================================
*/

.content {
    width: 920px;
    height: 230px;
    margin: 20px auto;
    color: #7e764c;
}

#text-a,
#text-b {
    box-sizing: border-box;
    width: 460px;
    padding: 15px;
}

#text-a {    
    float: right;
}

#text-b {
    float: left;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}